.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    min-width: 100vw;
    min-height: 100vh;

    background-color: black;
}