.customModal {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100000;

    height: 14.75rem;
    width: 34.25rem;

    padding: 1.5rem 2rem;

    background: var(--black);
    border: 1px solid var(--white-10);
    border-radius: 0.9375rem;

    box-shadow: 15px 20px 20px 1px rgba(0, 0, 0, 0.25);

    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.customOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;

    z-index: 99999;

    height: 100vh;
    width: 100vw;

    background: var(--black-75);
    backdrop-filter: blur(3.5px);

    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}