.customModal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100000;

    height: 49.6875rem;
    width: 77.6875rem;

    padding: 1.5rem;

    background: var(--black);
    border: 1px solid var(--white-10);
    border-radius: 0.9375rem;

    box-shadow: 15px 20px 20px 1px rgba(0, 0, 0, 0.25);

    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.customOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;

    z-index: 99999;

    height: 100vh;
    width: 100vw;

    background: var(--black-75);
    backdrop-filter: blur(3.5px);

    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 46.6875rem;
    width: 19.5rem;

    position: relative;

    padding: 3rem 2rem;

    background: var(--white-5);
    border-radius: 0.9375rem;
}

.menuHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.menuHeader > img {
    height: 1.5rem;
    width: 1.5rem;
}

.menuHeader > h2 {
    color: var(--white-50);
}

.menuHeader > p {
    font-size: 0.75rem;
    margin: 0;
    color: var(--white-25);
}

.menu > input {
    height: 2.5rem;
    width: 15.5rem;
    flex-shrink: 0;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;

    background: var(--white-5);
    border-radius: 0.9375rem;

    border: none;
    outline: none;

    color: var(--white-50);
}

.menu > input::placeholder {
    color: var(--white-25);
}

.areaList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
}

.areaItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    cursor: pointer;
}

.areaItem > p {
    color: var(--white-50);
}

.areaItem > p > span {
    font-size: 0.75rem;
    margin: 0;
    color: var(--white-25);
}

.selectedArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    cursor: pointer;
}

.selectedArea > p {
    color: var(--secondary-yellow);
    font-weight: 500;
}

.selectedArea > p > span {
    font-size: 0.75rem;
    margin: 0;
    color: var(--white-25);
}

.myDashIcon {
    height: 2rem;
    width: 2rem;

    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;

    height: 46.6875rem;
    width: 53.6875rem;

    background: var(--white-5);
    border-radius: 0.9375rem;
}

.addNoteFloating {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;

    z-index: 10;

    transition: var(--transition-config);
}

.addNoteFloating:hover {
    transform: var(--btn-grow);
}

.noteTitle {
    height: 6.25rem;
    width: 53.6875rem;

    padding: 2rem;
    
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.9375rem 0.9375rem 0 0;
    border: none;
    outline: none;

    font-size: 2rem;
    font-weight: 500;
    color: var(--white-50);

}

.noteTitle::placeholder {
    color: var(--white-25);
}

.closeIcon {
    height: 2rem;
    width: 2rem;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    cursor: pointer;
    transition: var(--transition-config);
}

.closeIcon:hover {
    transform: var(--btn-grow);
}

.areaBtnContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}

.areaBtn {
    height: 2rem;
    min-width: 6rem;

    background: var(--white-10);
    border-radius: 0.4375rem;
    border: none;
    outline: none;

    padding: 0 0.8rem;

    color: var(--white-75);
    
    cursor: pointer;
    transition: var(--transition-config);
}

.areaBtn:hover {
    transform: var(--btn-grow);
}

.selectedBtn {
    height: 2rem;
    min-width: 6rem;

    background: var(--secondary-yellow);
    border-radius: 0.4375rem;
    border: none;
    outline: none;

    padding: 0 0.8rem;

    color: var(--black-75);
    
    cursor: pointer;
    transition: var(--transition-config);
}

.createBtn {
    height: 3rem;
    width: 11.375rem;
    flex-shrink: 0;

    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;

    background: var(--secondary-yellow);
    border-radius: 0.9375rem;
    border: none;
    outline: none;

    color: var(--black);

    cursor: pointer;
    transition: var(--transition-config);
}

.createBtn:hover {
    transform: var(--btn-grow);
}

.deleteNote {
    position: absolute;
    right: 14.94rem;
    bottom: 1.8rem;

    cursor: pointer;
    transition: var(--transition-config);
}

.deleteNote:hover {
    transform: var(--btn-grow);
}

.noteDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    justify-content: center;
    flex-shrink: 0;

    gap: 1.5rem 0;
    
    height: 46.6875rem;
    width: 53.6875rem;

    padding: 1.5rem;

    position: relative;

    height: 46.6875rem;
    width: 53.6875rem;

    background: var(--white-5);
    border-radius: 0.9375rem;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 0.62rem;

    height: 10.125rem;
    width: 12rem;
}

.notePreview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;

    height: 8.5rem;
    width: 12rem;

    padding: 1rem;

    background: var(--black-5);
    border: 1px solid var(--white-10);
    border-radius: 0.9375rem;

    cursor: pointer;
    transition: var(--transition-config);
}

.notePreview:hover {
    transform: var(--btn-grow);
    background: var(--white-10);
}

.notePreview > h6 {
    color: var(--white-75);
}

.noteInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.noteInfo > p {
    color: var(--white-25);
    font-size: var(--paragraph-small);
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
