.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    position: fixed;
    bottom: 4.5rem;
    left: 3.5rem;

    z-index: 1000;

    transition: var(--transition);
}

.icon:hover{
    transform: var(--btn-grow);
}

.icon:hover h6 {
    display: block;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon > img {
    height: 3rem;
    width: 3rem;
}

.icon > h6 {
    display: none;
    /* font-weight: var(--h1-light); */

    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

