.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    min-width: 100vw;
    min-height: 100vh;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin: 0;
}

.icon {
    height: 4rem;
    width: 4rem;
}

.title {
    font-weight: var(--h1-light);

    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.startBtn {
    height: 2.1875rem;
    width: 7.25rem;

    background: var(--white-5);
    border: 1px solid var(--white-50);
    border-radius: 6.25rem;

    font-size: var(--paragraph-normal);
    color: var(--white-50);

    cursor: pointer;

    transition: var(--transition);
}

.startBtn:hover {
    transform: var(--btn-grow);
}