.myBoardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    min-height: 100vh;
    min-width: 100vw;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 10.5rem;

    height: 100%;
    width: 106.125rem;

    padding: 5rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.titleColumn{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title {
    font-weight: var(--h1-light);
    color: var(--white);
}

.userName {
    font-weight: 600;
    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    height: 2.4735rem;
    width: 8rem;

    background: var(--white-5);
    border: 1px solid var(--white-50);
    border-radius: 6.25rem;

    font-size: var(--paragraph-normal);
    color: var(--white-50);

    cursor: pointer;
    transition: var(--transition);
}

.logoutBtn:hover {
    transform: var(--btn-grow);
}
