.Layout {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    height: 65.5rem;
    width: 118rem;

    padding: 2rem;

    min-height: 65.5rem;
    min-width: 118rem;
    margin: 1rem;

    z-index: 1;

    background: var(--black-50);
    border-radius: 1.875rem;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    width: 70.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 16.5rem;
    width: 70.5rem;

    padding: 3rem;

    background: url('../../assets/user-banner.png');
    border-radius: 1.875rem;
}

.dateNow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 0.5rem;

    height: 3rem;
    width: 10rem;

    background: var(--white-25);
    border-radius: 0.9375rem;
}

.areaInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    height: 4.1875rem;
    width: 50.625rem;

    margin-top: 3.31rem;
}

.areaInfo > h1 {
    color: var(--secondary-aqua-green);
}

.areaInfo > p {
    color: var(--white-50);
    font-style: italic;
}

.projectSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    height: 43.5rem;
    width: 70.5rem;

    position: relative;
    
    background: var(--black-75);
    border-radius: 0.9375rem;

    overflow: scroll;
}

.projectLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.addIcon {
    margin: 0 1.5rem;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    height: 3.5rem;
    min-width: 8.25rem;
    
    padding: 1.25rem 1.5rem;

    cursor: pointer;
}

.label > p {
    color: var(--white-10);
}

.activeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    height: 3.5rem;
    min-width: 8.25rem;

    padding: 1.25rem 1.5rem;

    background: var(--white-5);

    cursor: pointer;
}

.activeLabel > p {
    color: var(--white-50);
}

.divisor {
    height: 3rem;
    width: 0.0625rem;
    flex-shrink: 0;

    background: linear-gradient(180deg, rgba(226, 231, 233, 0.01) 0%, rgba(226, 231, 233, 0.06) 50.47%, rgba(226, 231, 233, 0.01) 100%);
}

.noProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noProjects > p {
    color: var(--error);
}

.createOne {
    color: var(--white-50) !important;
    cursor: pointer;
    transition: var(--transition-config);
}

.createOne:hover {
    color: var(--secondary-aqua-green) !important;
    transform: var(--btn-grow);
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    height: 36rem;
    width: 67.5rem;

    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;

    height: 36rem;
    width: 21.5rem;

    padding: 1.5rem;

    background-color: var(--white-5);
    border-radius: 0.9375rem;
}

.statusNotStarted {
    color: var(--error);
    cursor: default;
}

.statusInProgress {
    color: var(--secondary-yellow);
    cursor: default;
}

.statusFinished {
    color: var(--secondary-aqua-green);
    cursor: default;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    margin-top: 1.31rem;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-shrink: 0;
    overflow: scroll;
}

.taskData {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-shrink: 0;
    gap: 0.25rem;

    height: 100%;
}

.taskTitle {
    color: var(--white-50) !important;
    font-size: var(--paragraph) !important;
}

.taskData > p {
    color: var(--white-25);
    font-size: var(--paragraph-small);
}