.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    z-index: 1000;

    position: absolute;
    position: -webkit-sticky;
    top:50%;
    left: 48px;
    transform: translate(0, -50%);

    width:64px;
    height: 640px;

    padding: 32px 15px;

    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 152, 110, 0.05);

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    behavior: ;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

svg {
    width: 32px;

    transition: all 0.3s ease-in-out;
}

svg:hover {
    transform: scale(1.2);
}

.description {
    display: none;
    font-size: var(--paragraph-small);
    font-weight: 300;
    color: white
}

.link:hover .description {
    display: block;
    position: absolute;
    left: 64px;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}