.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    z-index: 10000000;
    background: none;
}

.sideBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;

    height: 1.5rem;
    width: 2.537rem;

    position: fixed;
    left: 3rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100000;

    cursor: pointer;
}

.sideBtnOpen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;

    height: 1.5rem;
    width: 2.537rem;

    position: fixed;
    left: 19.75rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100000;

    cursor: pointer;
}

.sideMenuContainerOpen {
    display: flex;
    flex-direction: column;

    height: 65.5rem;
    width: 18.5rem;

    padding: 4.5rem 0;

    position: fixed;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    z-index: 100000;

    background: var(--black-75);
    border-radius: 1.875rem 0rem 0rem 1.875rem;
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9.25px);
    border-right: 0.125rem solid var(--white-25);

    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sideMenuContainerClosed {
    display: flex;
    flex-direction: column;

    height: 65.5rem;
    width: 18.5rem;

    padding: 4.5rem 0;

    position: fixed;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;

    background: var(--black-75);
    border-radius: 1.875rem 0rem 0rem 1.875rem;
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9.25px);
    border-right: 0.125rem solid var(--white-25);

    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    margin-left: 2.06rem;
}

.title > img {
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;
}

.title > h3 {
    background: var(--gradient, linear-gradient(90deg, #63C7BC 0%, #B1EF8E 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menuLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;

    height: 31.75rem;
    width: 8.3125rem;

    margin-top: 4.5rem;
    margin-left: 2.5rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;

    height: 2rem;
    width: 8.3125rem;

    cursor: pointer;
}

.link > img {
    width: 2rem;
    
    margin: 0;
}

.Link {
    text-decoration: none;
}

.titleGradient {
    background: var(--gradient, linear-gradient(90deg, #63C7BC 0%, #B1EF8E 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleGrey {
    color: var(--white-50);
}

.config {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    height: 6.19231rem;
    width: 8.1875rem;

    position: absolute;
    bottom: 4.5rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-right {
    0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    }
    150% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

@-webkit-keyframes slide-left {
    0% {
    -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    }
}
@keyframes slide-left {
    0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    }
}
