.customModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;

    height: 52.9375rem;
    width: 61.25rem;
    padding: 2rem;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(100px);

    border: 1px solid var(--white-50);
    outline: none;
    border-radius: 2.1875rem;

    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.customOverlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;

    background: rgba(15, 8, 5, 0.10);
    backdrop-filter: blur(5px);

    height: 100vh;
    width: 100vw;

    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fakeTitle {
    width: 100%;
    height: 6rem;
    background: var(--white-5);
}

.fakeTitle > input {
    width: 100%;
    height: 100%;

    background-color: rgba(240, 248, 255, 0);
    outline: none;
    border: none;
    padding: 2rem;

    font-size:1.5rem;
    color: var(--primary);
}

.fakeTitle > input::placeholder {
    color: var(--primary);
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 4rem;

    width: 100%;
}

.options > div > button {
    background: var(--white-10);
    border: 1px solid var(--white-50);
    border-radius: 2rem;

    padding: 0.3rem 1rem;

    color: var(--white-75);
}

.options > div > button.selectedButton {
    background: linear-gradient(90deg, #FF71A9 0%, #FF986E 100%), var(--white-10);
    /* border: 1px solid var(--white-50); */
    outline: none;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    color: var(--white-75);
    color: black;
}

.fakeBody {
    width: 100%;
    height:70%;
    display: flex;
    align-items: start;
    justify-content: center;
    background: var(--white-5);
}

.fakeBody > textarea {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    border: none;
    padding: 2rem;

    font-size:1rem;
    color: var(--primary);
    resize: none;
}

.fakeBody > textarea::placeholder {
    color: var(--primary);
    position: absolute;
    top: 2rem;
}

.footer {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;

    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 48px;
}

.footer h5 {
    background: var(--Gradient, linear-gradient(90deg, #FF71A9 0%, #FF986E 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer > span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.save {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    height: 2.4735rem;
    width: 8rem;

    background: var(--white-5);
    border: 1px solid var(--white-50);
    border-radius: 6.25rem;

    font-size: var(--paragraph-normal);
    color: var(--white-50);

    cursor: pointer;
    transition: var(--transition);
}

.save:hover {
    transform: var(--btn-grow);
}