.app {
    background-image: url('../assets/background-blur.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}