@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-primary: #FF71A9;
    --color-secondary-orange: #FF986E;
    --color-secondary-blue: #00D7FF;
    --color-secondary-yellow: #FFD769;
    --color-main-gradient: linear-gradient(to right, #FF71A9, #FF986E);
    --color-error: #EB190C;

    --paragraph: 21px;
    --paragraph-small: 17px;
    --paragraph-emphasis: 500;
}

h1 {
    font-weight: 400;
    font-size: 63px;
}

h2 {
    font-weight: 400;
    font-size: 52px;
}

h3 {
    font-weight: 300;
    font-size: 44px;
}

h4 {
    font-weight: 400;
    font-size: 36px;
}

h5 {
    font-weight: 400;
    font-size: 30;
}

h6 {
    font-weight: 400;
    font-size: 25;
}

p {
    font-weight: 400;
}
